services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app  # Монтируем весь проект
      - ./data:/app/data  # Опционально: для сохранения БД
    env_file:
      - .env
    restart: unless-stopped